.footer{
    left: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 60px;
    background: linear-gradient(150deg,rgb(228, 219, 219),rgb(245, 213, 218));
    /*opacity: 80%;*/
    display: flex;
    justify-content: space-between;
    /*border-top:3 solid transparent;
    box-shadow:  0 0 15px rgb(106, 102, 102);*/
    box-shadow: inset -15px 10px 20px rgb(216, 215, 215);
}
.ph, .email, .line{
    width: 33%;
    padding-left: 5%;
    padding-top: 5px;
}
.phimg, .emimg, .lineimg{
    height: 24px; width: 24px;
}